<h2>Cart Items</h2>
<a routerLink="/shipping">Shipping Prices</a>
<div *ngFor="let product of products">
	<div class="cart-item">
		<h3>{{product.name}}</h3>
		<h3>{{product.price | currency}}</h3>
	</div>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label id="name" for="name">Name:</label>
    <input type="text" formControlName="name">
    
    <label for="address">Address:</label>
    <input id="address" type="text" formControlName="address">

  </div>
	<button class="button" type="submit">Submit</button>
</form>